<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<div ng-show="error" class="alert alert-danger" role="alert">
				<strong>Error</strong>
				<p>An unknown error occured. Please try again later or contact an administrator</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
			<form name="createForm" class="form-horizontal" ng-submit="$broadcast('show-errors-check-validity');createForm.$valid && ctrl.submitProfilCreate()" novalidate>
				<button
				type="submit"
				class="btn btn-primary pull-right"
				ng-disabled="loading">
					<span ng-show="!loading">{{savebtntitle}}</span>
					<span ng-show="loading"><i class="fa fa-spinner fa-spin"></i></span>
				</button>
				<tabset justified="false">
					<tab heading="About you" active="tabIsActive[0].active">
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">First name</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="firstName" ng-model="form.firstName" required="true"/>
							</div>
						</div>
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Last name</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.lastName" name="lastName" required/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Nickname</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.nickname" name="nickname" placeholder="Batman"/>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Picture</label>
							<div class="col-sm-10">
								<div ng-show="form.profilePicture">
									<strong>{{ form.profilePicture.name }}</strong>
									<button ng-click="form.profilePicture = null" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
								</div>
      							<div ng-show="!form.profilePicture"
      							ngf-drop ngf-select ng-model="form.profilePicture" class="drop" ngf-drag-over-class="'dragover'">
      								<strong>Select</strong> or drop file here
      							</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Cover</label>
							<div class="col-sm-10">
								<div ng-show="form.coverPhoto">
									<strong>{{ form.coverPhoto.name }}</strong>
									<button ng-click="form.coverPhoto = null" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
								</div>
      							<div ng-show="!form.coverPhoto"
      							ngf-drop ngf-select ng-model="form.coverPhoto" class="drop" ngf-drag-over-class="'dragover'">
      								<strong>Select</strong> or drop file here
      							</div>
							</div>
						</div>
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Hometown</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.hometown" placeholder="Lyon, France" name="hometown" placeholder="Lyon, France" required="true"/>
							</div>
						</div>
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Birthday</label>
							<div class="col-sm-10">
								<input
								class="form-control"
								type="text"
								ng-model="form.birthday"
								name="birthday"
								datepicker-popup={{format}}
								ng-click="openBirthday=true"
								is-open="openBirthday"
								placeholder="10/01/1991"
								required="true"
								/>
							</div>
						</div>
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Languages <em style="font-size: smaller;font-weight: normal;">(Cmd/Ctrl + click to select multiple languages)</em></label>
							<div class="col-sm-10">
								<select multiple class="form-control" ng-model="form.languages" name="languages">
									<option value="fr">French</option>
									<option value="gb">English</option>
									<option value="de">German</option>
									<option value="lu">Luxembourgish</option>
									<option value="it">Italian</option>
									<option value="es">Spanish</option>
									<option value="ru">Russian</option>
									<option value="sa">Arabic</option>
								</select>
								<span class="flag {{lng}}" ng-repeat="lng in form.languages"></span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Education</label><br/>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.education.studies" name="education.studies" placeholder="Studies (eg. Master of Information Technology - Epitech)"/><br/>
								<input class="form-control" type="text" ng-model="form.education.location" name="education.location" placeholder="Location (eg. Paris, France)"/>
							</div>
						</div>
						<button type="button" class="btn btn-info pull-right" ng-click="tabIsActive[1].active = true">Next</button>
						<div class="clearfix"></div>
					</tab>
					<tab heading="Job" active="tabIsActive[1].active">
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Position</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.position" name="position" required/>
							</div>
						</div>

						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Start date</label>
							<div class="col-sm-10">
								<input
								class="form-control"
								type="text"
								ng-model="form.startDate"
								name="startDate"
								datepicker-popup={{format}}
								ng-click="openStartDate=true"
								is-open="openStartDate"
								placeholder="15/02/1970"
								/>
							</div>
						</div>
						<div class="form-group required" show-errors>
							<label class="control-label col-sm-2">Location</label>
							<div class="col-sm-10">
								<select class="form-control" ng-model="form.location" name="location" required>
									<option value="fr">Etix France</option>
									<option value="lu">Etix Luxembourg</option>
									<option value="uk">Etix UK</option>
									<option value="ma">Etix Morocco</option>
									<option value="other">Other</option>
								</select>
							</div>
						</div>
						<button type="button" class="btn btn-info pull-right" ng-click="tabIsActive[2].active = true">Next</button>
						<div class="clearfix"></div>
					</tab>
					<tab heading="Questions" active="tabIsActive[2].active">
						<div class="form-group" ng-repeat="q in form.about">
							<label class="control-label">{{q.question.question}}</label>
							<input class="form-control" type="text" ng-model="form.about[$index].answer" name="question$index"/>
						</div>
						<button type="button" class="btn btn-info pull-right" ng-click="tabIsActive[3].active = true">Next</button>
						<div class="clearfix"></div>
					</tab>
					<tab heading="More" active="tabIsActive[3].active">
						<div class="form-group">
							<label class="control-label col-sm-2">Interests</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" ng-model="form.interests" name="interests" placeholder="Reading, Sailing, Kitesurfing, Sleeping..."/>
							</div>
						</div>
						<div class="form-group" id="movies-input">
							<label class="control-label col-sm-2">Movies</label>
							<div class="col-sm-10">
								<tags-input
								ng-model="form.movies"
								display-property="title"
								add-from-autocomplete-only="true"
								key-property="id"
								>
								<auto-complete
								source="ctrl.loadMovies($query)"
								template="movies-template"
								></auto-complete>
							</tags-input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2">Playlist spotify</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" ng-model="form.playlist" name="playlist" placeholder='<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotifydiscover%3Aplaylist%3A4oxFV5VXQ1hrat0TBHGzSf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>'/>
						</div>
					</div>
				</tab>
			</tabset>
		</form>
	</div>
</div>
</div>
<script type="text/ng-template" id="movies-template">
	<div class="left-panel">
		<img ng-src="https://image.tmdb.org/t/p/w45/{{data.poster_path}}" />
	</div>
	<div class="right-panel">
		<span ng-bind-html="$highlight($getDisplayText())"></span>
		<span>({{data.release_date}})</span>
		<span>{{data.overview}}</span>
	</div>
</script>
