.profil .cover {
	height : 300px;
	background-image: url("../assets/images/coverdefault.png");
    background-size: cover;
    background-position: top;
    background-repeat : no-repeat;
    color: white;
    margin-bottom: 0px;
}

.profil .profil-picture {
	width: 160px;
	height: 160px;
    float: left;
}

.profil .profil-name {
    float: right;
    color: white;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}

@media (min-width: 768px) { 
    .profil .profil-picture {
        margin-top: 110px;
    }
    .profil .profil-name {
        margin-top: 190px;
    }
}

.profil .profil-name span {
    font-size: 18px;
    font-style: italic;
}

.profil .media .thumbnail {
    margin-bottom : 0px;
}

.profil .playlist iframe {
    width: 100%;
    height: 480px;
}

.flag {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
}

.profil .movies ul {
    text-align: center;
    margin-bottom: -10px;
}
.profil .movies li {
    margin-bottom: 10px;
}
.profil .movies li > img {
    width: 50px;
    height: 50px;
}
.profil .movies li span {
    display: block;
}

.profil dd {
    margin-bottom: 10px;
}

.form-group.required label:after { 
   content:"*";
   color:red;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px 25px;
}

.drop {
    border: 2px #f1f1f1 dashed;
    padding: 10px 15px;
    line-height: 34px;
    border-radius: 5px;
    background: #f8f8f8;
}

tags-input .tags {
    @extend .form-control;
    height: 100%;
}

#movies-input .left-panel {
    float: left;
}

#movies-input .left-panel img {
    width: 48px;
    height: 68px;
    vertical-align: middle;
}

#movies-input .right-panel {
    float: left;
    margin-left: 5px;
    margin-top: 7px;
    max-width: 80%;
}

#movies-input .right-panel span:first-child {
    font-size: 16px;
}

#movies-input .right-panel span:nth-child(2) {
    font-size: 14px;
    color: lightskyblue;
}

#movies-input .right-panel span:last-child {
    display: block;
    font-size: 14px;
    font-style: italic;
}


